/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */

/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */
* {
   margin: 0;
   box-sizing: border-box;
}

.header {
   aspect-ratio: 3;
   width: 100%;
   align-items: center;
   display: flex;
   justify-content: center;
}

article {
   background-color: #70E08E;
   border-radius: 30px;
   text-align: center;
   align-content: center;
   grid-column-start: 2;
   grid-column-end: 3;
}

article p {
   padding-left: 40px;
   padding-right: 40px;
}

img {
   border-radius: 30px;
   grid-column-start: 2;
   grid-column-end: 3;
   align-content: center;
   margin: auto;
   height: 297px;
}

main {
   height: 740px;
   display: grid;
   grid-template-columns: 25% auto 25%;
   grid-template-rows: 45% 45%;
   row-gap: 10%;
   padding-top: 40px;
   padding-bottom: 40px;
   background-color: #ffffff;
   
}

html {
   background: url(images/pixelcut-export.jpeg) no-repeat center top;
   background-size: 100%;
}

button {
   width: 20%;
   margin-left: 2.5%;
   margin-right: 2.5%;
   font-size: 20px;
   height: 60px;
   float: left;
   text-align: center;
   padding-top: 17px;
   padding-bottom: 17px;
   background-color:  rgba(255, 255, 255, 0);
   cursor: pointer;
   border: none;
   transition: all 0.5s;
   display: flex;
   justify-content: center;
   position: relative;

}

button::after {
   content: "";
   position: absolute;
   height: 5px;
   left: 0;
   bottom: 0;
   width: 0;
   background-color: #70E08E;
   transition: 0.2s width;
}

button:hover:after {
   width: 100%;
   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

button:hover {
   font-size: 25px;
   color: black;

}

nav {
   width: 100%;
   height: 100px;
   background-color: rgba(255, 255, 255, 0);
   transition: 0.5s all;
   color: white;
   padding: 20px 0;
}

nav:hover {
   background-color: #154723;
   background-image: none;
   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

nav:hover button {
   color: white;
}

footer {
   width: 100%;
   height: 100px;
   background-color: #d9d9d9;
   text-align: center;
   align-content: center;
}