/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */
* {
   background-color: white;
}
.header{
   background-color:#0c7a2a
}
button {
   width: 25%;
   height: 100px;
   float: left;
   background-color: #0c7a2a;
   text-align: center;
   cursor: pointer;
   border: 2px solid #0c7a2a;
   transition: all 0.5s;
}
button:hover {
   background-color: #ffffff;
}
nav {
   width: 100%;
   height: 100px;
   border: 2px solid red;
   background-color: rgba(255, 255, 255, 0)
}
nav:hover {
   background-color: red;
}