.wrapper{
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
display:grid;
column-gap:  gap 20px;


}




.header{
   background-color:#0c7a2a;
   float 
}
button {
   width: 25%;
   height: 100px;
   float: left;
   background-color: rgba(255, 255, 255, 0);
   text-align: center;
   cursor: pointer;
   border: none rgba(255, 255, 255, 0); 
   transition: all 0.5s;
}
button:hover {
   background-color: #ffffff;
}
nav {
   width: 100%;
   height: 200px;
   border: 2px solid red;
   background-color: rgba(255, 255, 255, 0)
}
nav:hover {
   background-color: red;
}

.nav1{
   width: 100%;
   height: 200px;
}



.side-nav{
   border:2px solid red;
      float:left;
      height:713px;
      width:500px;
      
   }

   .nav2{
      float:left;
      height:713px;
      width:500px;
   }



main{
border: 2px solid red;
float:right;
width:70px;
height:60%;
}

.maindiv{
   float:right;
   width:75%;
   height:60%;

}


.article1{
float:right;
width:75%;
height:60%;
}

.divarticle1{
width:75%;
height:60%;
}


.article2{
float:right;
width:75%;
height:60%;

}


.divarticle2{
   width:75%;
   height:60%
}



.footer {
   width: 100%;
   height: 100px;
   border: 2px solid red;
   bottom:0px;
   float
}

.footerdiv{
   width: 100%;
   height: 100px;
}
