* {
  margin: 0;
}


.container {
  display: grid;
  grid-template-areas:
    "header header"
    "nav2 nav2"
    "nav main"
    "footer footer";
  grid-template-columns: 1fr 4fr;
  gap: 2px;
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

.container>div {
  background-color: rgba(255, 255, 255, 0.8);
}

.container>div.header {
  grid-area: header;
  text-align: center;
  background-color: #0c7a2a;
  height:300px;
  
  .header_text{
padding-top: 150px;
color:#ffffff;

  }

}

.container>div.nav2 {
  grid-area: nav2;
  background-color: #545454;
}

.container>div.nav {
  grid-area: nav;
  background-color: #a6a6a6;
  border-color: black;

}

.container>div.main {
  grid-area: main;

}

.container>div.footer {
  grid-area: footer;
  background-color: #d9d9d9;
  font-size: 20px;
}

.nav {
  .nav1 {
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .nav_2 {
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .nav_3 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  button {
    font-size: 20px;
    height: 60px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    border: none;
    transition: all 0.5s;
    justify-content: center;
    position: relative;

  }

  button::after {
    content: "";
    position: absolute;
    height: 5px;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: #ffffff;
    transition: 0.2s width;
  }

  button:hover:after {
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  }

  button:hover {
    font-size: 25px;
    color: black;
  }

  nav {

    background-color: rgba(255, 255, 255, 0);
    transition: 0.5s all;
  }
}

.nav_boven {
  button {
    width: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-size: 20px;
    height: 60px;
    float: left;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 17px;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    border: none;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    position: relative;
    color:white;

  }

  button::after {
    content: "";
    position: absolute;
    height: 5px;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: #ffffff;
    transition: 0.2s width;
  }

  button:hover:after {
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  }

  button:hover {
    font-size: 25px;
    color: white;
  }

  nav {

    background-color: rgba(255, 255, 255, 0);
    transition: 0.5s all;
  }
}

.main {

  .article1 {
    text-align: center;
    font-size: 20px;
    padding-top:20px;
    margin-top: 40px;
    margin-bottom:20px;
    margin-right:200px;
    margin-left:200px;
    width: auto;
    height: auto;
    background-color: #70e08e;
    border-radius:30px;
  }

  .article1 p {
padding:30px;
  }

  .img1 {
    display:block;
    margin:auto;
    width:35%;
  }


  .article2 {
    
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right:200px;
    margin-left:200px;
    border-radius:30px;
    width: auto;
    background-color: #70e08e;
  }


  .article2 p {
    padding:30px;
  }


}

.footer{
  padding-top:10px;
  padding-bottom:10px;
}