.container {
   display: grid;
   grid-template-areas:
     "header header"
     "nav2 nav2"
     "nav main"
     "footer footer";
   grid-template-columns: 1fr 3fr;
   gap: 5px;
   background-color: #0d952c;
   padding: 5px;
 }
 .container > div {
   background-color: rgba(255, 255, 255, 0.8);
   padding: 10px;
 }
 .container > div.header {
   grid-area: header;
   text-align: center;
 }

.container > div.nav2{
   grid-area:nav2;
}


 .container > div.nav{ 
   grid-area:nav;
 }
 .container > div.main{ 
   grid-area: main;
 }
 .container > div.footer {
   grid-area: footer;
 }